@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');


/*---------------------Special paddings/margins/text--------------------------*/

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.15em;
    font-weight: 600;
    letter-spacing: 10px;
    margin: 0px auto 5px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 0;
    text-transform: uppercase;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.08em;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 0;
    text-transform: uppercase;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.02em;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 0;
    text-transform: uppercase;
}

.center {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.booking-header,
.booking-subheader,
.music-header {
    color: #fff;
}

.date,
.year {
    color: #CCCDCE;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.year {
    letter-spacing: 5px;
}

.event_location {
    padding: 0 0 10px 5px;
}

.event,
.venue {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.location {
    color: #FF652F;
    color: rgba(255, 101, 47, 0.8);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
}

#Required-fields {
    color: #FFF;
}

/*----------------------------------Colors------------------------------------*/

.bg-primary-dark,
.navbar-dark {
    background-color: #1a1a1d;
}

.container-music {
    background-color: rgb(152, 129, 98);
    background-color: rgba(0, 0, 0, 0.5);
}

.container-music-even {
    background-color: rgba(0, 0, 0, 0.8);
}

.container-music-odd {
    background-color: rgba(250, 250, 250, 0.8);
}

/*---------------------------Block dividers/Borders---------------------------*/

.block-divider {
    border: 0;
    height: 3px;
    width: 75px;
}

.block-divider--orange {
    background-color: #FF652F;
}

.border-left--orange {
    border-left: 2px solid #FF652F;
    display: inline-block;
    height: 10em;
    width: 0;
}

/*-------------------------------Media queries--------------------------------*/

@media (min-width:576px) {
    html {
        font-size: 0.8em;
    }
}

@media (min-width:768px) {
    html {
        font-size: 0.9em;
    }
    .wrapper-book-form {
        width: 35%;
    }
    .container-booking {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media (min-width:992px) {
    html {
        font-size: 1em;
    }
    .event_link {
        text-align: right;
    }
}

@media (min-width:1200px) {
    html {
        font-size: 1.1em;
    }
}

/*-------------------------------Buttons/Forms--------------------------------*/

.fa.fa-navicon {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: #29292E;
    color: #FF652F;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}

.navbar-toggler {
    background-color: #29292E;
    border: 1px solid #000000;
}

.btn-link a {
    color: #FF652F;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-link,
.btn-submit {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    height: 2.5rem;
    letter-spacing: 2px;
    margin: 2px 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 105px;
}

.btn-link:hover,
.btn-link a:hover,
.btn-submit:hover {
    background-color: #FFF;
    color: #FF652F;
    text-decoration: none;
}

#InputEmail {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #FFF !important;
    color: #FF652F;
    font-family: Monospace, sans-serif;
    height: 2.5rem;
    letter-spacing: 1px;
    margin: 2px 5px;
    padding: 5px;
    text-align: center;
    width: 250px;
}

.form-control {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border: 2px solid #FFF !important;
    color: #FF652F;
    font-family: Monospace, sans-serif;
    letter-spacing: 1px;
    margin: 2px 5px;
    padding: 5px;
}

.form-control:focus {
    color: #FF652F;
    font-family: Monospace, sans-serif;
}

/*-----------------------------------Images-----------------------------------*/

.square-img {
    cursor: pointer;
    display: block;
    height: 90%;
    margin: 0px auto 15px;
    width: 90%;
}

.round-img {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 7rem;
    margin: auto;
    width: 7rem;
}

.album-img {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.release-album-img {
    -moz-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 220px;
    margin: 15px;
    width: 220px;
}

.release-album img {
    -moz-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.album-cover img {
    -moz-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 300px;
    margin: 15px;
    width: 300px;
}

.hover-grey {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}

.hover-grey:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.social-links li a i {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #FFF;
    color: #fafafa;
    font-size: 18px;
    height: 30px;
    padding: 6px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    width: 30px;
}

.social-links li a i:hover {
    background: #FFF;
    color: #FF652F;
}

/*-----------------------------------GLOBAL-----------------------------------*/

html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

section {
    background-attachment: scroll;
    background-color: #373B44;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%;
}

section:nth-of-type(2n+1) {
    background-attachment: fixed;
}

.container {
    max-width: 100%;
    padding: 0 20px;
}

/*----------------------------------Header------------------------------------*/

.navbar {
    -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.75);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99 !important;
}

.nav-tabs,
.nav-link {
    border-radius: 0 !important;
    border: none !important;
}

.nav-link.active {
    background-color: transparent !important;
    border-bottom: solid 2px #FF652F !important;
    color: #FF652F !important;
    font-weight: 500;
}

.header-text {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.header-text:hover {
    color: #FF652F;
}

.subheader-text {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    padding-bottom: 0;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.subheader-text:hover {
    color: #FF652F;
}

.social-links-header div {
    padding-left: 14px;
}


/*----------------------------------Footer------------------------------------*/

footer {
    background-color: #525252;
    color: #fafafa;
    position: static;
}

#footer-details {
    padding-top: 15px;
}

/*-------------------------------Landing section------------------------------*/

section:nth-of-type(1) {
    background-color: #373B44;
    background-image: url("../assets/images/bg/bg-landing.jpg");
}

.container-landing {
    height: 100vh;
}

/*--------------------------------Home section--------------------------------*/

section:nth-of-type(2) {
    background-color: #373B44;
    background-image: url("../assets/images/bg/bg-home.jpg");
}

.container-home {
    padding: 0 15px;
}

.home-tour {
    background-color: #FF652F;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    padding: 15px 40px;
}

.tour-heading {
    margin-bottom: 25px;
}

.timeline-item {
    border-left: 1px solid #FF652F;
    padding: 4em 2em 0em 2em;
    position: relative;
}

.timeline-item p {
    margin: 0;
    padding: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    font-weight: 500;
    position: absolute;
    top: 2em;
}

.timeline-item:after {
    background: #FF652F;
    border-radius: 50%;
    content: '';
    display: block;
    height: 12px;
    left: -6px;
    position: absolute;
    top: 2.4em;
    width: 12px;
}

.home-release {
    background-color: #FF652F;
    background-color: rgba(250, 250, 250, 0.2);
    color: black;
    padding: 15px 40px;
}

.home-news {
    background-color: #FF652F;
    background-color: rgba(255, 101, 47, 0.5);
    color: black;
    padding: 15px 40px;
}

.home-book {
    background-color: #FF652F;
    background-color: rgba(250, 250, 250, 0);
    color: black;
    padding: 15px 40px;
}

/*-------------------------------Tour section------------------------------*/

section:nth-of-type(3) {
    background-color: #373B44;
    background-image: url("../assets/images/bg/bg-tour.jpg");
}

.container-tour {
    background-color: rgba(0, 0, 0, 0.8);
}

.tour_events {
    padding: 0 50px;
}

.events {
    border-bottom: 1px solid #CCCDCE !important;
    padding-bottom: 5px;
    padding-top: 30px;
}

.event_link {
    margin: auto 0;
    padding: 10px;
    text-align: left;
}

/*-------------------------------Gallery section------------------------------*/

section:nth-of-type(4) {
    background-color: #373B44;
    background-image: url("../assets/images/bg/bg-gallery.jpg");
}

.container-gallery {
    background-color: rgba(255, 101, 47, 0.3);
    padding: 5% 10%;
}

/*--------------------------------Music section-------------------------------*/

section:nth-of-type(5) {
    background-color: #FAFAFA;
    background-image: url("../assets/images/bg/bg-music.jpg");
}

.div-album-cover {
    height: 80%;
    width: 80px;
}

.album-cover {
    text-align: center;
}

.album-links {
    text-align: center;
    color: white;
}

.album-listen {
    background: #000;
    border: 1px solid #fff;
    margin: 20px auto 15px;
    max-width: 100%;
    text-align: center;
    width: 250px;
}

/*-------------------------------About section--------------------------------*/

section:nth-of-type(6) {
    background-color: #FF652F;
    background-image: url("../assets/images/bg/bg-about.jpg");
}

.container-about {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FAFAFA;
    padding: 3%;
}

.container-band {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FAFAFA;
    font-style: italic;
}

.band-desc {
    padding: 5px;
}

/*------------------------------Booking section-------------------------------*/

section:nth-of-type(7) {
    background-color: #373B44;
    background-image: url("../assets/images/bg/bg-booking.jpg");
}

.container-booking {
    background-color: rgba(0, 0, 0, 0.8);
}

.booking-subheader {
    font-size: 0.95em;
}

label {
    color: #FF652F;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
